.movies_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movieItem {
display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: #d6d7f7;
}

.movieItem:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.movieItem img {
    width: 100%;
    height: auto;
}

.movieLink {
    font-size: 25px;
    color: black;
}

.movieItem p {
    font-size: 1em;
    margin: 2px 0;
    color: black;
    
}