.header {
    position: sticky; /* Делает элемент "липким", он остается видимым при прокрутке страницы */
    z-index: 1; /* Задает порядок отображения, чтобы элемент был поверх других */
    top: 0; /* Закрепляет элемент у верхнего края окна */
    right: 0; /* Выравнивает элемент относительно правого края */
    height: auto; /* Высота адаптируется под содержимое */
    padding: 5px; /* Отступы внутри элемента */
    background-color: rgb(255, 255, 255); /* Цвет фона элемента */
    border-radius: 8px; /* Закругляет углы элемента */
    display: flex; /* Устанавливает flex-контейнер для управления дочерними элементами */
    justify-content: center; /* Выравнивает дочерние элементы по центру по горизонтали */
    align-items: center; /* Выравнивает дочерние элементы по центру по вертикали */
  }

  /* .header_navigation {
    font-size: 25px;
  } */