.cast_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.castActorNameImg {
  max-width: 170px;
  height: 225px;
  object-fit: contain;
}

.castActorName {
  font-size: 20px;
  align-items: center;
  text-decoration: none;
}
